* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.navbar {
font-family: sans-serif;
background-color: rgb(24, 24, 24);
}
.navbar ul {
    text-align: center;
    list-style: none;
}
.navbar ul li {
    display:inline-block;
    margin:15px 20px 15px 20px;
    padding:10px 0 10px 0;
    width:100px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: rgb(182, 180, 180);
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 2px;
    width:0;
    background: #32B5F5;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;;
}
.sub-menu {
    display: none;
}
.navbar ul li:hover .sub-menu{
    display: block;
    position: absolute;
    background-color:rgb(24, 24, 24) ;
    margin-top: 15px;
    margin-left: -15px;
}
.navbar ul li:hover .sub-menu ul {
    display: block;
    margin:5px;
    font-size: 14px;
}
.navbar ul li:hover .sub-menu ul li a:hover {
    color: white;
}